{% extends 'index.html' %}

{% block css_file %}
<link href="{{url_for("static",filename="createpoll/style_create.css")}}" rel="stylesheet"/>
{% endblock %}

{% block title %}
New Poll
{% endblock %}

{% block content %}

<p>You can copy this link and share with your friends .your friend will be redirect to page where they will be able to vote on your poll.They will have to first Sign Up before voting on your poll.you will be redirected to Poll result page if you click on this link.</p>
<p>The share link is :</p>
<div><a href="{{url_for('answerpoll.answerpoll',link=share_link)}}">{{share_url}} </a></div>









{% endblock %}