{% extends 'index.html' %}

{% block css_file %}
<link href="{{url_for("static",filename="auth/style_register.css")}}" rel="stylesheet"/>
{% endblock %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<section class="signup ">

<div class="signup ">
  <article>
    <h1>Sign UP</h1>
   
    <div class="form">

  <form method="post" action="{{url_for('auth.register')}}">
    <label for="username">Username</label>
    <input name="username" id="username" required>
     {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="button submit" class="btn " id="register">Register</button>
  </form>
</div>

</article>
</div>
</section>

{% endblock %}
