{% extends 'index.html' %}

{% block css_file %}
<link href="{{url_for("static",filename="auth/style_register.css")}}" rel="stylesheet"/>
{% endblock %}

{% block title %}
Sigb Up
{% endblock %}

{% block content %}
  <form method="post" action="/auth/register">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>

{% endblock %}
